# Lithuanian Demographic and Dwelling Data
## By Svajune Klimasauskaite

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from mpl_toolkits import mplot3d
import datetime as dt
from pandas import DataFrame as df

%matplotlib inline

## Load Data

### Population - Permantent residents

In [2]:
#Load and change the column names, to prepare for the further data merge
df1=pd.read_csv("../Dataset_raw/Lithuania/gyventoju_skaicius.csv", sep=';')
# Align column names
df1.rename(columns={'Rodiklis':'permanent_residents','Reikšmė':'permanent_residents_value'}, inplace=True)
# Drop unnecessary columns
df1.drop(columns = ['Gyvenamoji vietovė','Matavimo vienetai'], inplace=True)
df1.head()

,Laikotarpis,permanent_residents,Administracinė teritorija,permanent_residents_value
0,1996,Nuolatinių gyventojų skaičius metų pradžioje,Elektrėnų sav.,30410.0
1,1997,Nuolatinių gyventojų skaičius metų pradžioje,Elektrėnų sav.,30090.0
2,1998,Nuolatinių gyventojų skaičius metų pradžioje,Elektrėnų sav.,29861.0
3,1999,Nuolatinių gyventojų skaičius metų pradžioje,Elektrėnų sav.,29504.0
4,2000,Nuolatinių gyventojų skaičius metų pradžioje,Elektrėnų sav.,29250.0

### Population - Ageing

In [3]:
#Load and change the column names, to prepare for the further data merge
df2=pd.read_csv("../Dataset_raw/Lithuania/gyventoju_amzius.csv", sep=';')
# Move categories to the columns,in order not to change level of details
df2 = pd.get_dummies(df2, columns=['Lytis'])
# Align column names
df2.rename(columns={'Rodiklis':'median_age'}, inplace=True)
df2.head(2)

,Laikotarpis,median_age,Administracinė teritorija,Matavimo vienetai,Reikšmė,Lytis_Moterys,Lytis_Vyrai
0,2001,Medianinis gyventojų amžius metų pradžioje,Elektrėnų sav.,metai,34.0,0,1
1,2002,Medianinis gyventojų amžius metų pradžioje,Elektrėnų sav.,metai,34.0,0,1

In [4]:
# Fill category values into a separate list
data1 = []
data2 = []
for index, row in df2.iterrows():
    if row['Lytis_Moterys']==1:
        data1.append(row['Reikšmė'])
    elif row['Lytis_Vyrai']==1:
        data2.append(row['Reikšmė'])

In [5]:
# Remove duplicates and keep municipalities as the lowest level of details
df2.drop_duplicates(subset = ['Laikotarpis', 'Administracinė teritorija'], inplace=True)
df2.drop(columns = ['Reikšmė','Matavimo vienetai'], inplace=True)

In [6]:
# add categories lists to the DataFrame
df2['Lytis_Moterys'] = data1
df2['Lytis_Vyrai'] = data2
df2.head()

,Laikotarpis,median_age,Administracinė teritorija,Lytis_Moterys,Lytis_Vyrai
0,2001,Medianinis gyventojų amžius metų pradžioje,Elektrėnų sav.,38.0,34.0
1,2002,Medianinis gyventojų amžius metų pradžioje,Elektrėnų sav.,39.0,34.0
2,2003,Medianinis gyventojų amžius metų pradžioje,Elektrėnų sav.,40.0,35.0
3,2004,Medianinis gyventojų amžius metų pradžioje,Elektrėnų sav.,40.0,35.0
4,2005,Medianinis gyventojų amžius metų pradžioje,Elektrėnų sav.,41.0,36.0

### Teritory - Population Density

In [7]:
#Load and change the column names, to prepare for the further data merge
df4=pd.read_csv("../Dataset_raw/Lithuania/gyventoju_tankis.csv", sep=';')
# Align column names
df4.rename(columns={'Rodiklis':'population_density','Reikšmė':'population_density_value',
                   'Matavimo vienetai':'population_density_measure'}, inplace=True)
df4.head(2)

,Laikotarpis,population_density,Administracinė teritorija,population_density_measure,population_density_value
0,2001,Gyventojų tankis metų pradžioje,Elektrėnų sav.,viename km²,53.9
1,2002,Gyventojų tankis metų pradžioje,Elektrėnų sav.,viename km²,53.1

### Flats - Useful Area

In [8]:
#Load and change the column names, to prepare for the further data merge
df5=pd.read_csv("../Dataset_raw/Lithuania/naudingas_plotas.csv", sep=';')
# Align column names
df5.rename(columns={'Rodiklis':'useful_area', 'Reikšmė':'useful_area_value', 
                    'Matavimo vienetai':'useful_area_measure'}, inplace=True)
# Drop unnecessary columns
df5.drop(columns = ['Gyvenamoji vietovė'], inplace=True)
df5.tail()

,Laikotarpis,useful_area,Administracinė teritorija,useful_area_measure,useful_area_value
1745,2014,"Naudingasis plotas, tenkantis vienam gyventojui",Zarasų r. sav.,m²,40.3
1746,2015,"Naudingasis plotas, tenkantis vienam gyventojui",Zarasų r. sav.,m²,41.4
1747,2016,"Naudingasis plotas, tenkantis vienam gyventojui",Zarasų r. sav.,m²,42.8
1748,2017,"Naudingasis plotas, tenkantis vienam gyventojui",Zarasų r. sav.,m²,44.1
1749,2018,"Naudingasis plotas, tenkantis vienam gyventojui",Zarasų r. sav.,m²,45.3

### Flats - Average dwelling

In [9]:
#Load and change the column names, to prepare for the further data merge
df6=pd.read_csv("../Dataset_raw/Lithuania/buto_dydis.csv", sep=';')
# Align column names
df6.rename(columns={'Rodiklis':'average_housing','Reikšmė':'average_housing_value',
                   'Matavimo vienetai':'average_housing_measure'}, inplace=True)
# Drop unnecessary columns
df6.drop(columns = ['Gyvenamoji vietovė'], inplace=True)
df6.head(2)

,Laikotarpis,average_housing,Administracinė teritorija,average_housing_measure,average_housing_value
0,2001.0,Vidutinis būsto dydis,Elektrėnų sav.,m²,57.7
1,2002.0,Vidutinis būsto dydis,Elektrėnų sav.,m²,57.7

### Economy - Neto Imigration

In [10]:
#Load and change the column names, to prepare for the further data merge
df8=pd.read_csv("../Dataset_raw/Lithuania/imigrantai.csv", sep=';')
# Align column names
df8.rename(columns={'Rodiklis':'neto_migration','Reikšmė':'neto_migration_value',
                   'Matavimo vienetai':'neto_migration_measure'}, inplace=True)
df8.tail(2)

,Laikotarpis,neto_migration,Administracinė teritorija,neto_migration_measure,neto_migration_value
1767,2017,Neto migracija,Zarasų r. sav.,asmenys,-284.0
1768,2018,Neto migracija,Zarasų r. sav.,asmenys,-193.0

### Economy - Unemployment

In [11]:
#Load and change the column names, to prepare for the further data merge
df9=pd.read_csv("../Dataset_raw/Lithuania/bedarbiai.csv", sep=';')
# Align column names
df9.rename(columns={'Rodiklis':'unemployment','Reikšmė':'unemployment_value',
                   'Matavimo vienetai':'unemployment_measure'}, inplace=True)
df9.tail(2)

,Laikotarpis,unemployment,Administracinė teritorija,unemployment_measure,unemployment_value
1572,2017,Registruotų bedarbių ir darbingo amžiaus gyven...,Zarasų r. sav.,proc.,14.0
1573,2018,Registruotų bedarbių ir darbingo amžiaus gyven...,Zarasų r. sav.,proc.,14.9

### Hierarchy

In [12]:
#Load LT district and municipality hierarchy 
df10=pd.read_csv("../Dataset_raw/Hierarchies/LT_hierarchy.csv", sep=';')
df10.head(2)

,country,area,district,municipality
0,Lietuvos Respublika,Sostinės regionas,Vilniaus apskritis,Elektrėnų sav.
1,Lietuvos Respublika,Sostinės regionas,Vilniaus apskritis,Šalčininkų r. sav.

## Merge

Merge all datasets on the **period** and **municipality**.

In [13]:
# Merge all dataframes on the period and municipality

all_data = pd.merge(df1, df2, how='outer', on=['Laikotarpis','Administracinė teritorija'])
all_data = pd.merge(all_data, df4, how='inner', on=['Laikotarpis','Administracinė teritorija'])
all_data = pd.merge(all_data, df5, how='inner', on=['Laikotarpis','Administracinė teritorija'])
all_data = pd.merge(all_data, df6, how='inner', on=['Laikotarpis','Administracinė teritorija'])
all_data = pd.merge(all_data, df8, how='inner', on=['Laikotarpis','Administracinė teritorija'])
all_data = pd.merge(all_data, df9, how='inner', on=['Laikotarpis','Administracinė teritorija'])


all_data = pd.merge(all_data, df10, how='inner', left_on='Administracinė teritorija', right_on='municipality')

In [14]:
all_data.tail(2)

,Laikotarpis,permanent_residents,Administracinė teritorija,permanent_residents_value,median_age,Lytis_Moterys,Lytis_Vyrai,population_density,population_density_measure,population_density_value,...,neto_migration,neto_migration_measure,neto_migration_value,unemployment,unemployment_measure,unemployment_value,country,area,district,municipality
1081,2017,Nuolatinių gyventojų skaičius metų pradžioje,Zarasų r. sav.,16169.0,Medianinis gyventojų amžius metų pradžioje,52.0,45.0,Gyventojų tankis metų pradžioje,viename km²,12.1,...,Neto migracija,asmenys,-284.0,Registruotų bedarbių ir darbingo amžiaus gyven...,proc.,14.0,Lietuvos Respublika,Vidurio ir vakarų Lietuvos regionas,Utenos apskritis,Zarasų r. sav.
1082,2018,Nuolatinių gyventojų skaičius metų pradžioje,Zarasų r. sav.,15668.0,Medianinis gyventojų amžius metų pradžioje,53.0,45.0,Gyventojų tankis metų pradžioje,viename km²,11.8,...,Neto migracija,asmenys,-193.0,Registruotų bedarbių ir darbingo amžiaus gyven...,proc.,14.9,Lietuvos Respublika,Vidurio ir vakarų Lietuvos regionas,Utenos apskritis,Zarasų r. sav.

## Data Cleaning and Augmentation

### Translate Column Names

In [15]:
all_data.rename(columns = {'Laikotarpis':'year', 'Administracinė teritorija':'municipality2'}, inplace = True)

### Keep Period from 2001 to 2018 Year

In [16]:
# Different datasheets have different period start year, therefore we need to unify and start from 2001 and end to 2018
final = all_data[all_data['year'] >= 2001]
final = final[final['year'] != 2019]
final['year'].unique()

array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018])

### Remove Higher Level Municipalities to Avoid Double Count

In [17]:
# Ensure that DataFrame has values on the lowest level, i.e. municipality level, 
# therefore we need to remove records with the distict or area information with aggregated values.

# Check unique values
final['municipality2'].unique()

array(['Elektrėnų sav.', 'Šalčininkų r. sav.', 'Širvintų r. sav.',
       'Švenčionių r. sav.', 'Trakų r. sav.', 'Ukmergės r. sav.',
       'Vilniaus m. sav.', 'Vilniaus r. sav.', 'Alytaus m. sav.',
       'Alytaus r. sav.', 'Druskininkų sav.', 'Lazdijų r. sav.',
       'Varėnos r. sav.', 'Birštono sav.', 'Jonavos r. sav.',
       'Kaišiadorių r. sav.', 'Kauno m. sav.', 'Kauno r. sav.',
       'Kėdainių r. sav.', 'Prienų r. sav.', 'Raseinių r. sav.',
       'Klaipėdos m. sav.', 'Klaipėdos r. sav.', 'Kretingos r. sav.',
       'Neringos sav.', 'Palangos m. sav.', 'Skuodo r. sav.',
       'Šilutės r. sav.', 'Kalvarijos sav.', 'Kazlų Rūdos sav.',
       'Marijampolės sav.', 'Marijampolės r. sav.', 'Šakių r. sav.',
       'Vilkaviškio r. sav.', 'Biržų r. sav.', 'Kupiškio r. sav.',
       'Panevėžio m. sav.', 'Panevėžio r. sav.', 'Pasvalio r. sav.',
       'Rokiškio r. sav.', 'Akmenės r. sav.', 'Joniškio r. sav.',
       'Kelmės r. sav.', 'Pakruojo r. sav.', 'Radviliškio r. sav.',
       'Šiaulių m. sav.', 'Šiaulių r. sav.', 'Jurbarko r. sav.',
       'Pagėgių sav.', 'Šilalės r. sav.', 'Tauragės r. sav.',
       'Mažeikių r. sav.', 'Plungės r. sav.', 'Rietavo sav.',
       'Telšių r. sav.', 'Anykščių r. sav.', 'Ignalinos r. sav.',
       'Molėtų r. sav.', 'Utenos r. sav.', 'Visagino sav.',
       'Zarasų r. sav.'], dtype=object)

In [18]:
# remove records which have aggregated information and not on the lowest level of details
final = final[np.isin(final['municipality2'], ['Lietuvos Respublika','Sostinės regionas','Vilniaus apskritis',
                                      'Vidurio ir vakarų Lietuvos regionas','Alytaus apskritis',
                                      'Kauno apskritis','Klaipėdos apskritis','Marijampolės apskritis',
                                      'Panevėžio apskritis','Šiaulių apskritis','Tauragės apskritis',
                                      'Telšių apskritis','Utenos apskritis','Marijampolės r. sav.'], invert=True)]

In [19]:
# Verify that all 60 municipalities are in place
final['municipality2'].nunique()

60

In [20]:
#drop unnecessary column
final.drop(columns = ['municipality2'], inplace = True)

In [21]:
final.tail(2)

,year,permanent_residents,permanent_residents_value,median_age,Lytis_Moterys,Lytis_Vyrai,population_density,population_density_measure,population_density_value,useful_area,...,neto_migration,neto_migration_measure,neto_migration_value,unemployment,unemployment_measure,unemployment_value,country,area,district,municipality
1081,2017,Nuolatinių gyventojų skaičius metų pradžioje,16169.0,Medianinis gyventojų amžius metų pradžioje,52.0,45.0,Gyventojų tankis metų pradžioje,viename km²,12.1,"Naudingasis plotas, tenkantis vienam gyventojui",...,Neto migracija,asmenys,-284.0,Registruotų bedarbių ir darbingo amžiaus gyven...,proc.,14.0,Lietuvos Respublika,Vidurio ir vakarų Lietuvos regionas,Utenos apskritis,Zarasų r. sav.
1082,2018,Nuolatinių gyventojų skaičius metų pradžioje,15668.0,Medianinis gyventojų amžius metų pradžioje,53.0,45.0,Gyventojų tankis metų pradžioje,viename km²,11.8,"Naudingasis plotas, tenkantis vienam gyventojui",...,Neto migracija,asmenys,-193.0,Registruotų bedarbių ir darbingo amžiaus gyven...,proc.,14.9,Lietuvos Respublika,Vidurio ir vakarų Lietuvos regionas,Utenos apskritis,Zarasų r. sav.

## Data Quality Check

In [25]:
final.shape

(1080, 25)

In [22]:
# Count null records
final.isnull().sum()

year                          0
permanent_residents           0
permanent_residents_value     0
median_age                    0
Lytis_Moterys                 0
Lytis_Vyrai                   0
population_density            0
population_density_measure    0
population_density_value      0
useful_area                   0
useful_area_measure           0
useful_area_value             0
average_housing               0
average_housing_measure       0
average_housing_value         0
neto_migration                0
neto_migration_measure        0
neto_migration_value          0
unemployment                  0
unemployment_measure          0
unemployment_value            0
country                       0
area                          0
district                      0
municipality                  0
dtype: int64

In [23]:
# Count unique records
final.nunique()

year                            18
permanent_residents              1
permanent_residents_value     1077
median_age                       1
Lytis_Moterys                   21
Lytis_Vyrai                     22
population_density               1
population_density_measure       1
population_density_value       534
useful_area                      1
useful_area_measure              1
useful_area_value              250
average_housing                  1
average_housing_measure          1
average_housing_value          252
neto_migration                   1
neto_migration_measure           1
neto_migration_value           732
unemployment                     1
unemployment_measure             1
unemployment_value             202
country                          1
area                             2
district                        10
municipality                    60
dtype: int64

## Save the File

In [24]:
# save clean dataframe
df.to_csv(final, '../Dataset_clean/⁨clean_lithuania.csv', sep=';')